:root {
    --main-txt-cl: #757575;
    --second-txt-cl: #212121;
}
/* Главная */
body {
    color: var(--main-txt-cl);
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
/* цвет лого */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
}
.span-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}
/* убирает маркировки возле списка */
ul {
    list-style: none;
}
/* блок навигации */
.link  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-txt-cl);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
.site-nav .link.current {
    color: #2196F3;
}
/* контакти */
.contacts .link-mailto:hover,
.contacts .link-mailto:focus {
    color: #2196F3;
}

.contact-tel,
.link-mailto {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    text-decoration: none;
}
/* Герой */
.hero {
    color: #FFFFFF;
    background-color: #2F303A;
}
.hero-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
/* Кнопка */
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: inherit;
}
/* особенности */
.specific-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-txt-cl);
}
.specific-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}
 /* Чем мы занимаемся */
 .work-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: var(--second-txt-cl);
 }
 /* команда */
 .team {
     color: var(--second-txt-cl);
     background-color: #F5F4FA;
 }
 .team-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
 }
 .team-item {
    background-color: #FFFFFF;
 }
 .team-name {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.03em;
 }

 .team-position {
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--main-txt-cl);
 }
/* Подвал */
.footer {
    background-color: #2F303A;
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.logo-white {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-address{
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
}

.footer-tel,
.footer-mailto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* Main portfolio */
.btn-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-txt-cl);
    background-color: #F5F4FA;
    cursor: pointer;
    font-family: inherit;
    
}
.btn-portfolio:hover,
.btn-portfolio:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-txt-cl);
}

.subtitle {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}
.title-hidden {
    visibility: hidden;
}
